# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  windows-build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: ilammy/msvc-dev-cmd@v1


    - name: Run CMake
      run: |
        cmake --preset windows-ninja-msvc
        cmake --build --preset windows-ninja-msvc-release

  ubuntu-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run CMake
      run: |
        cmake --preset linux-base
        cmake --build --preset linux-build

